[data-theme='light'] {
  --primary-color: #333;
  --secondary-color: #ebebeb;
  --background-color: #fcfcfc;
  --google-maps-color: #4a89f3;
}

[data-theme='dark'] {
  --primary-color: #b5b5b5;
  --secondary-color: #434343;
  --background-color: #333;
  --google-maps-color: #4a89f3;
}
